{{!-- <section>
  <h2>Chat</h2>
  <form action="/chat/post" method="post">
    <input type="text" name="description" placeholder="Escribe aquí"><br>
    <input type="submit" value="Enviar"><br>
  </form>
</section> --}}


<div class='container'>
  <br>
  <div class='jumbotron'>
    <h1>Send Message</h1>
    Username{{user.username}}
    <br>
    <div id='messages'>
      <ul>
        {{#each allMessages}}
        <li style="border-bottom: 1px solid black;">
          <p style="color: red">{{message.author.username}} dice:</p>
          {{message.message}}
        </li>
        {{/each}}
      </ul>

    </div>
    <form action="/chat/{{receptor}}" method="post">
      <textarea id='message' class='form-control' name="message" placeholder='Your Message Here'></textarea>
      <br>
      <button id='send' class='btn btn-success'>Send</button>
  </div>

</div>