{{!-- <section>
  <h2>Chat</h2>
  <form action="/chat/post" method="post">
    <input type="text" name="description" placeholder="Escribe aquí"><br>
    <input type="submit" value="Enviar"><br>
  </form>
</section> --}}


<div class='container'>
  <br>
  <div class='jumbotron'>
    <h1>Send Message</h1>
    Your Username: {{user.username}}
    <br>
    <div id='messages'>
      <ul id="messagesContainer">

      </ul>

    </div>
    <form>
      <input type="text" id="inputMessage" data-user="{{receptor}}" />
      <button id='send' class='btn btn-success'>Send</button>
  </div>
</div>

<script src="/javascripts/chat.js"></script>