<div class="container">

  <div class="jumbotron">
    <h1>Ãrea de chat</h1>
    {{user.username}} escribe tu mensaje:

    <div id="messages">
      <ul id="messagesContainer"></ul>
    </div>
    <form>
      <input type="text" id="inputMessage" data-user="{{receptor}}" />
      <button id="send" class="btn btn-success">Send</button>
  </div>
</div>

<script src="/javascripts/chat.js"></script>