<section>
  <h2>Chat</h2>
  <form action="/chat/post" method="post">
    <input type="text" name="description" placeholder="Escribe aquí"><br>
    <input type="submit" value="Enviar"><br>
  </form>
</section>