<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<h2>NOTICIAS</h2>
<div class="newsContainer">


</div>
<h2>INFO</h2>
<div class="basicInfoContainer">

</div>
<h2>TIEMPO</h2>
<div class="infoWeather">

</div>