<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <header class="menu-wrapper">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-lg-4 col-12 order-3 order-lg-1">
          {{!-- BUSCADOR --}}
          <div class="searchBar">
            <form action="/" method="GET">
              <i class="material-icons">
                search
              </i>
              <input type="search" id="citySearch" name="city" placeholder="Elige una ciudad">
              <button id="search">Buscar</button>
          </div>
          </form>
        </div>
        <div class="col-lg-4 col-12 order-1 order-lg-2">
          <div class="logo">
            {{!-- LOGO --}}
            <h1><a href="/">EL VIAJERO</a></h1>
          </div>
        </div>
        <div class="col-lg-4 col-12 order-2 order-lg-3">
          <div class="menu">
            {{!-- MENU --}}
            <nav>
              <ul>
                <li><a href="/" id="home">Home</a></li>
                {{#if user}}
                <li><a href="/profile" id="home">Profile</a></li>
                {{/if}}
                {{#unless user}}
                <li><a href="/auth/login" id="login">Login</a></li>
                <li><a href="/auth/signup" id="signup">Signup</a></li>
                {{/unless}}
                {{#if user}}
                <li><a href="/auth/logout" id="logout">Logout</a></li>
                {{/if}}
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </header>

  <main>
    {{{body}}}
  </main>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFPhuSzSAR4FzJmO0eMimZ7B_XRD4FOJY">
  </script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/javascripts/chat.js"></script>
  <script src="/javascripts/script.js"></script>
</body>

</html>