<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <nav>
    <a href="/">Home</a>
    <a href="/auth/login">Login</a>
    <a href="/auth/signup">Signup</a>
    <a href="/auth/logout">Logout</a>
  </nav>

  <form action="/" method="POST">
    <div>
      <input type="search" id="citySearch" name="city" placeholder="Elige una ciudad">
      <button id="search">Buscar</button>
    </div>
  </form>

  {{{body}}}

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/javascripts/BasicAPIHandler.js"></script>
  <script src="/javascripts/SearchAPIHandler.js"></script>
  <script src="/javascripts/NewsAPIHandler.js"></script>
  <script src="/javascripts/script.js"></script>
</body>

</html>