* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Monserrat', sans-serif;
  font-weight: 100;
  background-color: #212121;
  user-select: none;
  color: #3a3a3a; }

img {
  width: 100%; }

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0; }

p {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: inherit; }

a:hover {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid;
  border-color: inherit;
  margin-bottom: -2px; }

main {
  margin: 40px 0; }

.error {
  border: 1px solid #E53935;
  border-radius: 5px;
  padding: 5px;
  font-size: 0.8em;
  color: #E53935; }

.infoTitle {
  font-weight: bold;
  text-transform: capitalize; }

.ratings {
  display: flex;
  align-items: center; }

.ratings p {
  margin-left: 5px; }

.hidden {
  display: none; }

.menu-wrapper {
  background-color: #fff;
  padding: 10px 0;
  border-bottom: 4px solid #1DE9B6;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4); }

.menu-wrapper .searchBar {
  background-color: #f5f5f5;
  border: 0;
  border-radius: 20px;
  margin-bottom: 10px;
  padding: 10px 20px; }

.menu-wrapper .searchBar form {
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.menu-wrapper .searchBar input {
  margin-left: 10px;
  width: 100%;
  background-color: #f5f5f5;
  border: 0; }

.menu-wrapper .searchBar input:focus {
  outline: none; }

.menu-wrapper .searchBar button {
  display: none; }

.menu-wrapper .logo {
  margin-bottom: 10px;
  text-align: center; }

.menu-wrapper .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  text-transform: uppercase; }

.menu-wrapper .menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0; }

.menu-wrapper .menu ul li {
  margin-left: 20px; }

.el-viajero {
  font-family: 'Rozha One';
  color: #212121; }

#city {
  text-transform: capitalize;
  font-weight: 700; }

.titleHeader {
  display: flex;
  align-items: center;
  margin-bottom: 20px; }
  .titleHeader img {
    width: 5%; }
  .titleHeader h1 {
    color: #fff;
    margin-left: 20px;
    text-transform: capitalize; }
  .titleHeader div {
    display: flex;
    align-items: center;
    margin-left: 20px;
    cursor: pointer; }
    .titleHeader div i {
      font-size: 150%; }
  .titleHeader .location {
    color: #fff; }
  .titleHeader .fav {
    color: #E53935; }

.card {
  height: 300px;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  overflow: hidden;
  margin-bottom: 20px; }

.card.big {
  height: auto;
  height: 80vh; }

.card header {
  background-color: #1DE9B6;
  color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold; }

.card header .headerTitle {
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.card header .headerTitle h2 {
  margin-left: 10px;
  font-size: 1.3em; }

.card header a {
  text-transform: capitalize;
  font-size: 0.9em;
  display: flex;
  align-items: center; }

.card .content {
  padding: 10px 20px;
  overflow: hidden;
  overflow-y: scroll; }

.newsContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 0;
  border-bottom: 1px solid #f5f5f5; }

.newsContainer img {
  width: 30%;
  height: auto; }

.newsContainer p {
  margin-left: 10px;
  font-size: 0.8em;
  width: 70%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden; }

.basicInfoContainer {
  width: 100%; }
  .basicInfoContainer .infoDetails {
    display: flex;
    align-items: center;
    margin-bottom: 10px; }
    .basicInfoContainer .infoDetails img {
      width: 8%; }
    .basicInfoContainer .infoDetails .iconCurrency {
      width: 8%;
      height: 8%;
      text-align: center;
      border-radius: 50%;
      background: #d2bd91;
      font-weight: 600;
      color: #2e2e2e;
      border: 1px solid #939393; }
    .basicInfoContainer .infoDetails .infoTitle,
    .basicInfoContainer .infoDetails p {
      margin-left: 10px; }

.weatherDate {
  text-align: center;
  font-weight: bold;
  padding-top: 10px; }

.weatherContainer {
  margin-bottom: 10px;
  border-bottom: 2px solid #e0e0e0; }

.weatherContainer.index {
  border-bottom: 0; }

.weatherContainer div {
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.weatherContainer .weatherStatus {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px; }

.weatherContainer .weatherStatus img {
  width: 30%; }

.weatherContainer .weatherStatus .infoTitle.weather {
  font-size: 1.5em; }

.weatherContainer .weatherDetailsContainer {
  display: block; }

.weatherContainer .weatherDetailsContainer > div {
  padding: 15px 0;
  width: 100%; }

.weatherContainer .weatherDetailsContainer > div:first-child {
  border-bottom: 1px solid #e0e0e0; }

.weatherContainer .weatherDetailsContainer .weatherHours {
  display: flex;
  justify-content: center;
  align-items: flex-end; }

.weatherContainer .weatherDetailsContainer .weatherHours img {
  width: 20%; }

.weatherContainer .weatherDetailsContainer .weatherHours p {
  margin-left: 15px;
  font-weight: 200;
  font-size: 0.8em; }

.weatherContainer .weatherDetailsContainer .weatherDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%; }

.weatherContainer .weatherDetailsContainer .weatherDetails img {
  width: 25%; }

.weatherContainer .weatherDetailsContainer .weatherDetails p {
  margin-left: 8px;
  font-size: 0.8em;
  font-weight: 200; }

.weatherContainer .weatherDetailsContainer .weatherDetails span {
  font-size: 0.5em;
  font-weight: 200; }

.restaurantsContainer {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #f5f5f5; }

.restaurantsContainer img {
  width: 20%; }

.restaurantsContainer .ratings {
  width: 70px; }

.restaurantsContainer .restaurantDetails {
  width: 70%;
  margin-left: 10px;
  font-size: 0.7em; }

.restaurantsContainer .restaurantDetails img {
  width: 10px;
  height: auto; }

.restaurantsContainer .restaurantDetails p {
  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.restaurantsContainer .restaurantDetails > .infoTitle {
  font-size: 1.3em; }

.eventsContainer {
  display: flex;
  flex-direction: column;
  border-bottom: 3px solid #e0e0e0;
  margin-bottom: 20px; }

.eventsContainer img {
  margin-bottom: 10px; }

.eventsContainer p {
  margin-bottom: 15px;
  padding-bottom: 5px; }

.login {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/2007401/pexels-photo-2007401.jpeg?cs=srgb&dl=white-airliner-wing-on-top-of-sea-clouds-2007401.jpg&fm=jpg");
  background-size: cover;
  z-index: -1; }
  .login .mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: #000;
    opacity: 0.8; }
  .login .card {
    height: auto; }
    .login .card header {
      margin-bottom: 20px; }
    .login .card .content {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .login .card .content .form {
        width: 100%; }
        .login .card .content .form input,
        .login .card .content .form button,
        .login .card .content .form p {
          margin-bottom: 20px; }
        .login .card .content .form button {
          background-color: #1DE9B6;
          color: #fff; }

.social p {
  margin-bottom: 20px; }

.social .userList {
  padding: 0 40px; }
  .social .userList ul {
    list-style: none; }
    .social .userList ul li {
      display: flex;
      align-items: center;
      margin-bottom: 10px; }
      .social .userList ul li a {
        margin-left: 10px; }
        .social .userList ul li a span {
          text-transform: capitalize;
          font-weight: bold; }

.chat {
  height: auto !important;
  background-color: #f5f5f5; }
  .chat .content {
    height: 500px;
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth; }
    .chat .content #messagesContainer {
      border-radius: 10px;
      list-style: none;
      margin-bottom: 59px;
      padding: 10px 0; }
      .chat .content #messagesContainer div {
        width: 100%;
        display: flex; }
      .chat .content #messagesContainer div.user {
        justify-content: flex-end; }
      .chat .content #messagesContainer div.receptor {
        justify-content: flex-start; }
        .chat .content #messagesContainer div.receptor li {
          background-color: #fff; }
      .chat .content #messagesContainer li {
        max-width: 50%;
        box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.4);
        padding: 10px 20px;
        background-color: #E8F5E9;
        border-radius: 10px;
        margin-bottom: 10px; }
    .chat .content .sendMessage {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      width: 100%;
      background: #f5f5f5;
      border-top: 1px solid #ced4da;
      left: 0;
      bottom: 0;
      padding: 10px 20px; }
      .chat .content .sendMessage button {
        margin-left: 20px;
        color: #fff;
        background-color: #1DE9B6; }

/* Set the size of the div element that contains the map */
#map {
  height: 80vh;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
  margin-left: -29px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  overflow: hidden;
  margin-bottom: 20px; }

.profile {
  overflow: hidden;
  overflow-y: scroll;
  padding: 20px; }

.profile > div {
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 10px; }

.profile-header-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  text-align: center; }

.profile-header-img {
  position: relative;
  width: 40%; }

.profile-header-img > img.img-circle {
  width: 100%;
  height: 100%;
  border: 3px solid #51D2B7;
  border-radius: 50%; }

.profile-header {
  margin-top: 43px; }

.rank-label-container {
  margin-top: -19px;
  text-align: center;
  z-index: 1000;
  text-align: center; }

.label.label-default.rank-label {
  background-color: #51d2b7;
  padding: 5px 10px 5px 10px;
  border-radius: 27px;
  text-transform: uppercase;
  font-size: 30%; }

.user ul {
  list-style-type: none; }

.select {
  background-color: rgba(205, 203, 203, 0.687); }

.deselect {
  background-color: white; }

.favorite-cities {
  text-transform: uppercase; }

#pencil {
  color: #3a3a3a;
  position: absolute;
  right: 0;
  z-index: 999; }

#pencil:hover {
  transform: scale(1.5); }

.profileLocation {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-bottom: 20px; }

.modal {
  display: none;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8); }
  .modal .card {
    height: auto; }
    .modal .card .content {
      padding: 20px;
      background-color: #fff; }
      .modal .card .content input {
        margin-bottom: 20px; }
      .modal .card .content button {
        width: 100%;
        background-color: #1DE9B6;
        color: #fff; }

.places-images {
  overflow: hidden;
  display: block; }

@media (min-width: 768px) {
  .weatherDate {
    text-align: left; }
  .weatherContainer.big {
    display: flex;
    align-items: center; }
  .weatherContainer.big .weatherStatus {
    width: 30%;
    font-size: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0;
    padding: 0; }
  .weatherContainer.big .weatherStatus .infoTitle {
    margin-bottom: 30px;
    font-size: 3em; }
  .weatherContainer.big .weatherStatus img {
    width: 70%;
    margin-bottom: -30px; }
  .weatherContainer.big .weatherDetailsContainer {
    width: 70%; }
  .weatherContainer.big .weatherDetailsContainer > div {
    padding: 20px; } }

@media (min-width: 992px) {
  .menu-wrapper .menu {
    justify-content: flex-end; }
  .searchBar,
  .logo,
  .menu {
    margin-bottom: 0 !important; } }

/*# sourceMappingURL=style.css.map */